<div *ngFor="let item of checkedTree;let i = index">
  <input type="checkbox" [checkedBox]="item" [ngModel]="item.checked">
  <span (click)="consoleChecked(item.checked)">这里是&nbsp;&nbsp;1&nbsp;&nbsp;级&nbsp;&nbsp;{{i + 1}}&nbsp;&nbsp;号</span>
  <div *ngFor="let child of item.child;let j = index;" style="padding:5px 20px;">
    <input type="checkbox" [(ngModel)]="child.checked">
    <span (click)="consoleChecked(child.checked)">这里是&nbsp;&nbsp;2&nbsp;&nbsp;级&nbsp;&nbsp;{{j + 1}}&nbsp;&nbsp;号</span>
  </div>
</div>
